body {
    font-family: Arial, sans-serif;
    background-color: #DCDCDC;
    }

header {
    background-color: #00BFFF;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    }

h2 {
    color: #333;
    }