{% extends 'index.html' %}
{% block title %}Регистрация{% endblock %}
{% block header %}Страница регистрации{% endblock %}
{% block subheader %}Зарегистрируйтесь, чтобы приобрести игру{% endblock %}
{% block content %}
<h3>Зарегистрироваться</h3>
<div class="container mt-3">
    <div class="card shadow-sm">
        {% if form %}
        <div class="card-header bg-primary text-white">
            <h4>Регистрация через Django</h4>
        </div>
        <div class="card-body">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="text-danger">{{ error }}</span>
            </div>
            {% endif %}
            <form method="post" action="{% url 'task1_sign_up_by_django' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-10">Зарегистрироваться</button>
            </form>
        </div>
        {% else %}
        <div class="card-header bg-primary text-white">
            <h4>Регистрация через HTML</h4>
        </div>
        <div class="card-body">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="text-danger">{{ error }}</span>
            </div>
            {% endif %}
            <form method="post" action="{% url 'task1_sign_up_by_html' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Имя пользователя</label>
                    <input type="text" class="form-control" id="username" name="username" maxlength="30"
                           placeholder="Введите имя пользователя" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" minlength="8"
                           placeholder="Введите пароль" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Подтвердите пароль</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                           minlength="8" placeholder="Подтвердите пароль" required>
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Возраст</label>
                    <input type="number" class="form-control" id="age" name="age" maxlength="3"
                           placeholder="Введите ваш возраст" required>
                </div>
                <button type="submit" class="btn btn-primary w-10">Зарегистрироваться</button>
            </form>
        </div>
    {% endif %}
    </div>
    <a href="{% url 'home' %}">На главную</a>
</div>
{% endblock %}